body {
    font-size: 24px;
    font-weight: 400;
}

.calculator-body {
    max-width: 320px;
    background-color: lightgray;
    padding: .5rem;
    border: 3px outset grey;

}

.buttons {
    display: grid;
    grid-template-areas: 
    "del clear clear div"
    "seven eight nine mult"
    "four five six sub"
    "one two three add"
    "deci zero zero equal";
    gap: .25rem;
}

.btn {
    background-color: azure;
    padding: .25rem .5rem;
    text-align: center;
    border: 3px outset grey;
    border-radius: 5px;
}

.display {
  display: flex;
  justify-content: flex-end;
  background-color: rgb(246, 246, 246); 
  margin-bottom: .5rem; 
  padding: .25rem;
  border: 3px inset grey;

}

#btn1 {
    grid-area: one;
}
#btn2 {
    grid-area: two;
}
#btn3 {
    grid-area: three;
}
#btn4 {
    grid-area: four;
}
#btn5 {
    grid-area: five;
}
#btn6 {
    grid-area: six;
}
#btn7 {
    grid-area: seven;
}
#btn8 {
    grid-area: eight;
}
#btn9 {
    grid-area: nine;
}
#btn0 {
    grid-area: zero;
}
#btnAdd {
    grid-area: add;
}
#btnSub {
    grid-area: sub;
}
#btnMult {
    grid-area: mult;
}
#btnDiv {
    grid-area: div;
}
#btnEqual {
    grid-area: equal;
}
#btnDeci {
    grid-area: deci;
}
#btnDelete {
    grid-area: del;
}
#btnClearAll {
    grid-area: clear;
}
